.mat-button{
    background-color: #F5F5F5;
    color: #64B5F6;
    margin-left: 600px;
    border-radius: 0;
}

table{
    width: 100%;
}

.mat-paginator{
   display: flex;
   justify-content: center;
}