<div class="mat-elevation-z8" style="margin-top: 10px;">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="productId" matSortDirection="asc">

        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>

        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
        </ng-container>

        <ng-container matColumnDef="product_brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.product_brand}} </td>
        </ng-container>

        <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
            <td mat-cell *matCellDef="let element"> {{element.units}} </td>
        </ng-container>
        
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>